@model IEnumerable<EmailConfirm.SellNote>

@{
    ViewBag.Title = "NoteUnderReview";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/AdminNav.cshtml";
    WebGrid webGrid = new WebGrid(source: Model);
}

<section id="dashboard">
    <div class="dashboard-card">
        <div class="heading-bar container">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-xs-12">
                    <h3>Note Under Review</h3>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    @using (Html.BeginForm("NoteUnderReview", "Admin", FormMethod.Get, new { @class = "form1 row" }))
                    {
                        <div class="col-md-7 col-sm-7 col-xs-7 form-group searchinput">
                            <img src="~/img/search-icon.png" class="form-control-feedback">
                            <input type="search" class="form-control" placeholder="Search" name="searching" />
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-2">
                            <button class="btn">SEARCH</button>
                        </div>
                        <div class="col-md-3 col-sm-2 col-xs-12">
                            @Html.DropDownList("list", new SelectList(ViewBag.list, "Text", "Text", ViewBag.list), "select", new { onchange = "form.submit();", @class = "form-select" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    @webGrid.GetHtml(
    htmlAttributes: new { @id = "WebGrid", @class = "Grid table sold-table-list" },
    columns: webGrid.Columns(webGrid.Column("Id", "SR NO."), webGrid.Column("title", "Note Title"),
    webGrid.Column("Category", "Note Category"), webGrid.Column("Seller_Id", "Seller"), webGrid.Column("Status", "Date Added"),
    webGrid.Column("Status", "Status"),
    webGrid.Column("Action", style: "button",
        format: (item) => new HtmlString("<button class='btn btn-success'>" + @Html.ActionLink("Approve", "ApproveNote", "Admin", new { id = item.id }, new { onclick = "return confirm('If you approve the notes – System will publish the notes over portal. Please press yes to continue');" }) + "</button>"
        + "<a href='#' class='btn btn-danger' onclick='AddEditEmployee("+item.Id+")'>Reject</a>"
         + "<button class='btn btn-review'>" + @Html.ActionLink("InReview", "InReviewNote", "Admin", new { id = item.id }, new { onclick = "return confirm('Via marking the note In Review – System will let user know that review process has been initiated.Please press yes to continue');" }) + "</button>"
         ))
    ))
</div>


<script src="~/js/jquery.js"></script>
<link href="~/css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/Bootstrap/bootstrap.js"></script>

<div class="container" style="width:40%;">
    

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content" id="myModalBodyDiv1">
                

            </div>

        </div>

    </div>

    <input type="hidden" id="hiddenEmployeeId" />


</div>

<script>

    var AddEditEmployee = function (employeeId) {

        var url = "/Admin/AddEditEmployee?EmployeeId=" + employeeId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>