
@{
    Layout = null; 
    Layout = "~/Views/Shared/css_js.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Notes Marketplace</title>
    <link rel="stylesheet" href="~/css/Bootstrap/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.min.css">

    <link rel="stylesheet" href="~/css/responsive.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top white-nav-top">
            <div class="container">
                <div class="site-nav-wrapper row">
                    <div class="navbar-header row col-md-6 col-sm-6">
                        <!--Logo
                        <a href="index.cshtml" class="navbar-brand col-xs-9">
                            <img src="~/img/logo.png" alt="logo">
                        </a>-->
                        <a href="@Url.Action("Index", "Home")" class="link col-xs-9">
                            <img alt="Logo" src="~/img/logo.png" style="margin-top:8%;">
                        </a>
                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn" class="col-xs-2">&#9776;</span>
                    </div>
                    <!--Main Menu-->
                    <div class="collapse navbar-collapse col-md-6 col-sm-12">
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>

                    <!--Mobile menu-->
                    <div id="mobile-nav">
                        <div class="row">
                            <a href="index.html" class="col-xs-9" style="margin-top: 5%;">
                                <img src="~/img/logo.png" alt="logo">
                            </a>
                            <span id="mobile-nav-close-btn" class="col-xs-2">&times;</span>
                        </div>
                        <div id="mobile-nav-content">
                            <ul class="nav1 text-left">
                                <li>
                                    @Html.Partial("_LoginPartial")
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    


    @RenderBody();
    <hr>

    <!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Copyright &copy; Tatvasoft All right reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <ul class="social-list">
                        <li><a href="https://www.facebook.com/"><img src="~/img/facebook.png"></a></li>
                        <li><a href="https://twitter.com/"><img src="~/img/twitter.png"></a></li>
                        <li><a href="https://www.linkedin.com/"><img src="~/img/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>
